@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Simple Messenger</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Добро пожаловать в Simple Messenger</h2>
        <p>
            Создавайте чаты и общайтесь со своими друзьями
        </p>
    </div>
    <div class="col-md-4">
        <h2>Создавайте групповые чаты</h2>
        <p>Редактируйте и отправляйте сообщения друг другу</p>
    </div>
    <div class="col-md-4">
        <h2>Отвечайте на сообщения</h2>
        <p>Отетьте на сообщения которые уже есть в чате</p>
    </div>
</div>