@model IEnumerable<SimpleMessenger.Models.Conversation>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Создать груповой чат</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Название
            </th>
            <th>
                Тип
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.ID">@Html.DisplayFor(modelItem => item.Name)</a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConversationType.Name)
            </td>
        </tr>
}
    </tbody>
</table>
